{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS SETS</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tools/forum.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <body>
    <div class="container">
      {% include 'navbar.html' %} {% include 'header.html' %}

      <main>
        <section class="content">
          <h2 class="section-title">Forum</h2>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
        {% if messages %} {% for message in messages %}
        {% if message.tags == 'info' %}
        <script>
          swal({
            title: "Congratulations",
            text: "{{ message }}",
            icon: "success",
            showConfirmButton: true,
          });
        </script>
        {% endif %}
        {% endfor %} {% endif %}
        <header>
          <div class="user-profile">
            <img class="user-profile-picture" 
            src="{% if user_data.profile_picture %}data:image/jpeg;base64,{{ user_data.profile_picture }}{% else %}{% static 'image/user.png' %}{% endif %}" 
            alt="User Profile Picture">
            <div class="user-info">
              {% csrf_token %}
              <span class="username">{{user_data.email}}</span>
            </div>
          </div>
            <div class="search-container">
              <form method="GET" action="{% url 'forum' %}">
              <input
              type="text"
              name="search"
              placeholder="Search to post"
              value="{{ search_query }}"
              />
            </div>
         
            <button type="submit" class="create-post-btn">Search</button>
          </form>
          {% if user_data.role == 'student' %}
          <a href="/createPost">
            <button class="create-post-btn">Create post</button>
          </a>
          {% endif %}
        
        </header>
        <div class="post-container">
          {% if posts %} {% for post in posts %}
  
          <div class="post">
            <div class="ContainerViewPost">
              <a href="{% url 'view_post' post.PostID %}" class="black_font">
                {{ post.title }}</a
              >
              <div class="post-details">
                <div class="question-details">
                  <span class="black_font">Posted by:</span> {{ post.author }}
                </div>
                <div class="view_post_time">
                  <span class="black_font">Posted time:</span>
                  {{post.timestamp}}
                </div>
              </div>
              <div class="label">
                <div class="tag">
                  <span class="tag-label">{{post.subject}}</span>
                  {% for tag in post.tags %}
                  <span class="tag-label"># {{ tag }}</span>
                  {% endfor %}
                </div>
                <span class="comment">{{post.reply_count }} comments</span>
              </div>
           
            </div>
          </div>
          {% endfor %} {% else %}
          <p>No posts available.</p>
          {% endif %}
        </div>
      </main>

      {% include 'footer.html' %}
    </div>
    <script src="{% static 'js/backend.js' %}"></script>
    <script>

      function closeModal() {
        document.getElementById("successModal").style.display = "none";
      }
    </script>
  </body>
</html>
