---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog">
    <div class="grid grid-cols-3 gap-4 max-w-screen-lg mx-auto">
        <Card 
            title="Hello World"
            thumbnail="/test.jpg"
            href="/blog/hello-world"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula tortor quam..."
        />

        <Card 
            title="C++ Programming"
            thumbnail="/test.jpg"
            href="/blog/hello-world"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula tortor quam..."
        />

        <Card 
            title="Database Design"
            thumbnail="/test.jpg"
            href="/blog/hello-world"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula tortor quam..."
        />

    </div>
</Layout>