---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to eLAK">
	<main class="mx-auto max-w-screen-lg">
		<h1 class="text-4xl text-blue-500 font-bold mt-24">Welcome to eLAK!</h1>
		<p class="mt-2.5 text-gray-600">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula tortor quam, nec ultricies neque vehicula eu. Donec vitae venenatis dolor, at varius nulla. Maecenas dignissim ac ante sed mollis. Nunc euismod ac risus id molestie. Maecenas dictum dolor id dui sodales, sed sagittis eros rutrum. Sed ac mattis mi. Phasellus felis libero, sagittis vitae vestibulum sodales, convallis sed felis. Vestibulum ornare auctor leo, at dictum felis lacinia quis.
		</p>

		<img src="/test.jpg" alt="" class="mt-4 rounded-lg shadow-lg">
	</main>
</Layout>